<html>
  <head></head>
  <body>
    <form method="POST" action="/login">
    <h1>Log into your account</h1>
        <div>
            <br><input type="text" name="username" placeholder="@username"/>
            <br><input type="password" name="password" placeholder="password"/><br />
            <br><input type="submit" value="Login"/>
        <div>
    <br/><div>Don't have an account? Why not <a href=/signup>sign up!</a><div>
    <br/><small><a href=/ >Return to Chitter</a>
  </body>
</html>