<html>
  <head></head>
  <body>
    <form method="POST" action="/new_message">
    <h1>Chitter away!</h1>
        <label>What's on your mind? </label>
        <div>
            <br><input type="text" name="message" />
            <input type="submit" />
        <div>
  </body>
</html>