<html>
  <head></head>
  <body>
    <form method="POST" action="/signup">
    <h1>Create an account with Chitter!</h1>
    <div>Enter your details below to sign up for Chitter:</div><br>
        <div>
            <br><input type="text" name="email" placeholder="Email" />
        <div>

        <div>
            <br><input type="text" name="password" placeholder="Password" />
        <div>

        <div>
            <br><input type="text" name="name" placeholder="Name" />
        <div>

        <div>
            <br><input type="text" name="username" placeholder="Username" />
        <div>

        <div>
            <br><input type="submit" />
        <div>
    <div>
    <br><div>Already have an account? Why not <a href=/login>log in?</a></div>
    <br><small><a href=/ >Return to Chitter</a></small>
  </body>
</html>