<html>
  <head></head>
  <body>
    <form method="POST" action="/signup">
    <h1>Create an account with Chitter!</h1>
    <div>Enter your details below to sign up for Chitter.</div><br>
        <div>
            <br><label>Email: </label>
            <input type="text" name="email" />
        <div>

        <div>
            <br><label>Password: </label>
            <input type="text" name="password" />
        <div>

        <div>
            <br><label>Name: </label>
            <input type="text" name="name" />
        <div>

        <div>
            <br><label>Username: </label>
            <input type="text" name="username" />
        <div>

        <div>
            <br><input type="submit" />
        <div>
    <div>
  </body>
</html>